.guitar {
    background: url("img/image-back.png") no-repeat right;
    height    : 282px;
    margin    : 0 auto;
    margin-top: -37px;
    font-size : 0;

    @media (max-width: 1019px) {
        background: url("img/image-back-tablet.png") right no-repeat;
        width     : 768px;
        height    : 213.23px;
        margin-top: -24px;
    }

    @media (max-width: 769px) {
        width     : 320px;
        height    : 106.63px;
        background: url("img/image-back-mobile.png") right no-repeat;
        margin-top: -14px;

    }
}